* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "open sans";
}

.clear {
    clear: both;
}

body {
    width: 100%;
    background-color: whitesmoke;
}

    body .main-header {
        width: 100%;
        background-color: white;
    }

        body .main-header .main-header-content {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

            body .main-header .main-header-content img {
                padding-top: 10px;
                padding-bottom: 5px;
                float: left;
                display: block;
            }

            body .main-header .main-header-content nav {
                padding-top: 12px;
                float: right;
            }

                body .main-header .main-header-content nav a {
                    color: rgb(60, 60, 60);
                    text-decoration: none;
                }

                body .main-header .main-header-content nav div {
                    display: inline-block;
                    margin-left: 40px;
                    color: rgb(60, 60, 60);
                    font-size: 14px;
                }

    body .sub-header {
        padding-bottom: 20px;
        width: 100%;
        background-color: rgb(66, 139, 202);
    }

        body .sub-header .sub-header-contents {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

            body .sub-header .sub-header-contents h1 {
                color: white;
                font-size: 80px;
            }

            body .sub-header .sub-header-contents .highlight {
                color: orange;
            }

            body .sub-header .sub-header-contents .description {
                float: left;
                color: white;
                font-size: 20px;
            }

            body .sub-header .sub-header-contents .description-two {
                float: left;
                color: white;
                font-size: 20px;
            }

                body .sub-header .sub-header-contents .description-two h2 {
                    color: orange;
                }

            body .sub-header .sub-header-contents .example-image {
                float: right;
            }

    body .instruction {
        background-color: rgb(91, 192, 222);
    }

    body .contents {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

        body .contents .fileupload-container {
            width: 100px;
            height: 30px;
            position: relative;
            overflow: hidden;
            background-color: orange;
            color: white;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

            body .contents .fileupload-container input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100px;
                height: 30px;
                opacity: 0.0;
            }

        body .contents .note {
            font-style: italic;
        }

        body .contents .error-message-container {
            color: red;
        }

    body .process-form {
    }

        body .process-form table {
            margin-left: auto;
            margin-right: auto;
        }

        body .process-form .text-box {
            border: 1px solid black;
            padding: 5px;
            width: 60px;
        }

        body .process-form .input-box {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: orange;
            color: white;
            cursor: pointer;
        }

.bar {
    height: 18px;
    background: green;
}

.overlay {
    background-color: #000;
    opacity: .7;
    filter: alpha(opacity=70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.overlay-info {
    position: absolute;
    background-color: white;
    opacity: 1.0;
    height: auto;
    z-index: 9999;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.overlay-status {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.loading-image {
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
