header {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
