@model PDFTrimmer.Services.DocInfoResponse

<h2>Process</h2>

<div style="position: relative">
    <canvas id="canvas" style="border: 1px solid black;"></canvas>
    <canvas id="overlay" style="position: absolute; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.2); border: 1px solid black;"></canvas>
</div>

@using (Html.BeginForm("Process", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <div>
        <input type="submit" />
    </div>
}