@model PDFTrimmer.Services.DocInfoResponse

<h2>Process</h2>



@using (Html.BeginForm("Process", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <table>
        <tr>
            <td colspan="3" style="text-align: center">
                <input type="number" name="marginTop" id="marginTop" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="marginLeft" id="marginLeft" />
            </td>
            <td>
                <div style="position: relative">
                    <canvas id="canvas" style="border: 1px solid black;"></canvas>
                    <canvas id="overlay" style="position: absolute; left: 0; top: 0; border: 1px solid black;"></canvas>
                </div>
            </td>
            <td>
                <input type="number" name="marginRight" id="marginRight" />
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <input type="number" name="marginBottom" id="marginBottom" />
            </td>
        </tr>
    </table>
    
    <input type="submit" />
}
