@{
    ViewBag.Title = "Please Upload a pdf file";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    <div>
        <input type="file" name="pdfSource" />
    </div>
    <div>
        <input type="submit" id="upload-pdf" />
    </div>
}

