@model PDFTrimmer.Services.PrepareResponse

@{
    ViewBag.Title = "PDF Trimmer - NamedQuery.Com";
}

@section feature {
    <div class="sub-header">
        <div class="sub-header-contents">
            <h1>PDF Trimmer</h1>
            <div class="description">
                Do you read PDF documents on your mobile phone?<br />
                Ever wished you could get rid of the margins for better readability?<br />
                <br />
            </div>

            <div class="example-image">
                <img src="~/Images/example.png">
            </div>
            <div class="description-two">
                <h2>THIS FREE APP IS FOR U!</h2>
                <br />
                - Remove margins in <span class="highlight">TWO</span> simple steps<br />
                - You set which parts to keep<br />
                - No installations or plugins required<br />
                - No registration required<br />
                - No user information collected<br />
                - Completely <span class="highlight">FREE</span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}

<h2>Step 1. Let's Start with Your PDF Document.</h2>
<p>
    Click the button below to upload a PDF document from your computer.
</p>
<br />

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id="upload-form" }))
{
    @Html.AntiForgeryToken();
    <span class="fileupload-container">
        <span>Upload File</span>
        <input type="file" name="pdfSource" id="fileupload" />
    </span>
}

@section scripts {
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>
    <script src="~/Scripts/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/file.upload.handler.js"></script>
}