<h2>Step 2. It's Time to Draw! Tell Me Where You Want to Crop!</h2>
<br />
<p>
    Drag and drop directly on the document to select the area you would like to be on your new document.<br />
    Make sure to flip through few pages to make sure your rectangle fits all the area you want.<br />
    <br />
    You can also adjust margins by using the text boxes.
</p>
<br />
<p class="note">
    Note: If your PDF document has different sized pages, the margins shown on the below sample document might look bigger.
</p>
<br />

@section processForm {
    <div class="process-form">
        @using (Html.BeginForm("Process", "Home", FormMethod.Post, new { id = "margin-form", onkeypress = "return event.keyCode != 13;" }))
        {
            @Html.AntiForgeryToken();

            <table>
                <tr>
                    <td colspan="3" style="text-align: center">
                        <input type="number" name="marginTop" id="marginTop" disabled="disabled" class="text-box spinner" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <input type="number" name="marginLeft" id="marginLeft" disabled="disabled" class="text-box spinner" />
                    </td>
                    <td>
                        <div style="position: relative">
                            <canvas id="canvas" style="border: 1px solid black;" width="600"></canvas>
                            <canvas id="overlay" style="position: absolute; left: 0; top: 0; border: 1px solid black;" width="600"></canvas>
                        </div>
                    </td>
                    <td>

                        <input type="number" name="marginRight" id="marginRight" disabled="disabled" class="text-box spinner" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center">
                        <input type="number" name="marginBottom" id="marginBottom" disabled="disabled" class="text-box spinner" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center">
                        <br />
                        <input type="button" id="previous-button" value="Previous Page" class="input-box" />
                        <input type="submit" disabled="disabled" id="process-submit" class="input-box" value="GET YOUR DOCUMENT!" />
                        <input type="button" id="next-button" value="Next Page" class="input-box">
                    </td>
                </tr>
            </table>
        }
    </div>
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pdf.js"></script>
    <script type="text/javascript">

        function urlExists(url) {
            var http = new XMLHttpRequest();
            http.open('HEAD', url, false);
            http.send();
            return http.status!=404;
        }

        var fileLink = "";

        if (urlExists('/data/sample-@Session.Contents["sourceFileName"]')) {
            fileLink = '/data/sample-@Session.Contents["sourceFileName"]';
        } else {
            fileLink = '/data/prepared-@Session.Contents["sourceFileName"]';
        }
    </script>
    <script type="text/javascript" src="~/Scripts/pdf.handler.js"></script>
    <script type="text/javascript" src="~/Scripts/canvas.drawer.js"></script>
}